<h1 class="text-center mb-3">{{title}}</h1>
<form action="/api/create" method="post">
<div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" >
</div>
<div class="form-group">
    <label for="author">Author</label>
    <input type="text" name="author" class="form-control">
</div>
<div class="form-group">
     <label for="genre">Genre:</label><br>
    <input type="checkbox" id="genre1" name="genre" value="Fiction">
    <label for="genre1">Fiction</label><br>
    <input type="checkbox" id="genre2" name="genre" value="Non-Fiction">
    <label for="genre2">Non-Fiction</label><br>
    <input type="checkbox" id="genre3" name="genre" value="Science">
    <label for="genre3">Science</label><br>
     <input type="checkbox" id="genre3" name="genre" value="Fantacy">
    <label for="genre4">Fantacy</label><br>
</div>
<div class="form-group">
   <label for="price">Price:</label>
    <input type="text" id="price" name="price" step="0.01" required><br>
</div>
<div class="form-group">
    <label for="availability"> Availability</label>
    <label>
        <input type="radio" name="availability" value="true" checked>
       True
    </label>
    <label>
        <input type="radio" name="availability" value="false">
      False
    </label>
</div>
<div>
    <input type="submit" value="AddBook" class="">
</div>
</form>
<h4>Books</h4>
<ul class ="list-group">
    {{#each BookModel}}
    <li class="list-group-item">{{this.title}}: {{this.author}}: {{this.genre}}: {{this.price}}: {{this.availability}}
    </li>
    {{/each}}
</ul>

